<h1>Current News data</h1>

{{!-- <img src={{photo1}} /> --}}
<h2> {{title1}} </h2>
<h3> {{abstract1}} </h3>

<h2> {{title2}} </h2>
<h3> {{abstract2}} </h3>

<h2> {{title3}} </h2>
<h3> {{abstract3}} </h3>

<h2> {{title4}} </h2>
<h3> {{abstract4}} </h3>

<h2> {{title5}} </h2>
<h3> {{abstract5}} </h3>
